.left-dock {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background: #141414;
  color: #ffffff;
  list-style: none;
  padding: 20px 0;
  overflow: hidden;
  transition: .5s;
  li:first-of-type {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 20px;
    margin-bottom: 20px;

    visibility: visible;
    cursor: pointer;
    div {
      width: 30px;
      height: 2px;
      background: #ffffff;
      transition: .5s;
    }
  }
  li {
    visibility: hidden;
    padding: 10px 20px;
    &.search {
      width: 100%;
      & > form > input {
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px 10px;
        width: 100%;
        border: 1px solid #777777;
        color: #EEEEEE;
        background: #242424;
        outline: none;
      }
      .form_controls {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
        max-height: 0px;
        overflow: hidden;
        transition: .5s;
        label {
          line-height: 1.5;
          margin-bottom: 0;
        }
        & > * {
          margin-top: 5px;
          &:nth-child(odd) {
            width: 10%;
          }
          &:nth-child(even) {
            width: 90%;
          }
        }
        .settings {
          margin: 0;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          transition: .5s;
        }
        &:hover {
          max-height: 300px;
          padding: 20px 0;
          .settings {
            opacity: 0.5;
          }
        }
      }

    }
  }
  &.visible {
    width: 300px;
    li {
      visibility: visible;
    }
    li:first-of-type {
      div {
        &:nth-of-type(1) {
          transform: translateY(450%) rotate(-45deg);
        }
        &:nth-of-type(2) {
          transform: translateX(50%);
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-450%) rotate(45deg);
        }
      }
    }
  }
}

