<!--The content below is only a placeholder and can be replaced.-->
<section class="container">
  <header class="row mt-5 justify-content-center align-items-center">
    <h1 class="display-4" [routerLink]="'/home'" ><img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="angular Icon"/>Browsing History</h1>
  </header>
  <nav class="row p-3">
    <ul class="nav justify-content-around">
      <li class="nav-item"><a [routerLink]="'/example'" routerLinkActive="active" class="nav-link">Example</a></li>
      <li class="nav-item"><a [routerLink]="'/doc'" routerLinkActive="active" class="nav-link">Documentation</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>
